<nav>
  <div class="site-title">
    <a href="/"><h1>Blog List</h1></a>
    <p>Blog List Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>